body {
    font-family: Arial, sans-serif;
    display: flex;
    background-image: url(https://img.freepik.com/free-vector/gradient-abstract-football-background_52683-66769.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

#leagues {
    width: 200px;
    padding: 10px;
    border-right: 1px solid #ccc;
    background-image: url(https://i.pinimg.com/236x/63/9c/7b/639c7be5f3ebe958d761cb2c614884dc.jpg); 
    background-size: cover;
    background-position: center;
    color: black; 
}

#table {
    flex-grow: 1;
    padding: 10px;
}

.league-item {
    cursor: pointer;
    padding: 10px; 
    margin-bottom: 10px;
    color: black;
    border: 1px solid #ccc; 
    background-color: #e9edf2;
    border-radius: 5px; 
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.league-item:hover {
    background-color: #007BFF; 
    color: white; 
    border-color: #007BFF; 
    text-decoration: none; 
}

.league-item i {
    margin-left: 10px; 
    font-size: 20px; 
    color: #333; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px; 
}


th {
    background-color: #e9edf2; 
    color: rgb(12, 12, 12); 
    padding: 10px; 
    text-align: left;
}

td {
    border: 1px solid #ccc; 
    padding: 8px; 
    text-align: left; 
}


tr:nth-child(1),
tr:nth-child(2),
tr:nth-child(3),
tr:nth-child(4) {
    background-color: #007BFF; 
    color: white; 
}

tr:nth-child(5) {
    background-color: #ff7f50; 
}

tr:nth-child(18),
tr:nth-child(19),
tr:nth-child(20) {
    background-color: #f2070f; 
    color: white; 
}

tr:hover {
    background-color: #e0e0e0; 
}
